
@{
    ViewData["Title"] = " Category Page";
}
@model List<HCAaudit.Service.Portal.AuditUI.Models.Categorys>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

<div class="container">
    <br />
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"><button type="button" id="btnopenPopUp" class="btn btn-primary">Add Service Delivery Group</button> </div>
    </div>

    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>CatgID</th>
                    <th>Service Delivery Group</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="popupcontent" title="Add Service Delivery Group" hidden="hidden" class="container">

    <div class="row">
        <div class="col-sm-1"> </div>
        <div class="col-sm-7">
            <label for="format-pdf" class="input-group">Service Delivery Group:</label>
            <input id="txtcategory" maxlength="10" class="form-control form-control-sm"
                   type="text" />
            <span id="errormsg" style="color:red"></span>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <br />  
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
            <button id="btnaddCategory" class="btn btn-primary">Save</button>&nbsp;
            <button id="btncancelpopup" class="btn btn-danger">Cancel</button>
        </div>
    </div>

</div>

<div id="popupcontentedit" title="Edit Category" hidden="hidden" class="container">

    <div class="row">
        <div class="col-sm-2"> </div>
        <div class="col-sm-6">
            <label for="format-pdf" class="input-group">Service Delivery Group:</label>
            <input id="txtcategoryedit" class="form-control form-control-sm"
                   type="text" />
            <span id="errormsgedit" style="color:red"></span>
        </div>
        <div class="col-sm-4">
        <input id="hdnid" type="hidden" /></div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
            <button id="btneditCategory" class="btn btn-primary">Update</button>&nbsp;
            <button id="btncancelpopupedit" class="btn btn-danger">Cancel</button>
        </div>
    </div>

</div>

<div id="popupcontentdelete" title="Delete Service Delivery Group" hidden="hidden" class="container">

    <div class="row">
        <div class="col-sm-12">
            Do you want to Delete this Service Delivery Group?
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-2"><input id="hdndeletecatid" type="hidden"/></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-6">
            <button id="btndeleteCategory" class="btn btn-primary">Yes</button>&nbsp;
            <button id="btncancelpopupdelete" class="btn btn-danger">No</button>
        </div>
    </div>

</div>


<script>

    $(document).ready(function() {
        $("#example").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Category/Details",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [
                { "data": "CatgID", "name": "CatgID", "autoWidth": true },
                { "data": "CatgDescription", "name": "CatgDescription", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="#" onclick=OpenEditpopup(' + full.CatgID + ');>Edit</a>'; }
                },
                {
                    data: null,
                    render: function(data, type, row) {
                        return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.CatgID + "'); >Delete</a>";
                    }
                },
            ]

        });
    });

    $(function () {
        $("#popupcontent").dialog({
            autoOpen: false
        });

        $("#popupcontentedit").dialog({
            autoOpen: false
        });

        $("#popupcontentdelete").dialog({
            autoOpen: false
        });

        $("#btncancelpopupdelete").click(function () {
            $("#popupcontent").dialog('close');
        });

        $("#btncancelpopup").click(function () {
            $("#popupcontent").dialog('close');
        });

        $("#btncancelpopupedit").click(function () {
            $("#popupcontentedit").dialog('close');
        });

        $("#btnopenPopUp").click(function () {
            $("#popupcontent").dialog({
                position: 'bottom'
            });
        });
        $("#btnopenPopUp").click(function () {
            $("#popupcontentedit").dialog({
                position: 'bottom'
            });
        });
    });

    $("#popupcontent").dialog({ autoOpen: false, modal: true, height: 190, width: 650 });

    $("#popupcontent").dialog({ autoOpen: false, modal: true, height: 210, width: 700 });

    $("#popupcontentdelete").dialog({ autoOpen: false, modal: true, height: 150, width: 650 });

    $("#btnopenPopUp").click(function () {
        $('#txtcategory').val(""); $('#errormsgedit').hide();
        $("#popupcontent").dialog('open');
    });

    $('#txtcategory').on('keypress', function (event) {
        $('#errormsg').hide();
        //var regex = new RegExp("^[a-zA-Z]+$");
        //var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        //if (!regex.test(key)) {
        //    event.preventDefault();
        //    return false;
        //}
    });
    $('#errormsg').hide();

    $('#txtcategoryedit').on('keypress', function (event) {
        $('#errormsgedit').hide();
        //var regex = new RegExp("^[a-zA-Z]+$");
        //var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        //if (!regex.test(key)) {
        //    event.preventDefault();
        //    return false;
        //}
    });
    $('#errormsgedit').hide();

    $("#btnaddCategory").click(function () {

        var CategoryName = $('#txtcategory').val();
        if (CategoryName == "") { $('#errormsg').show(); $("#errormsg").text("Please enter Service Delivery Group"); }
        else {
            $.ajax({
                type: "GET",
                url: "/category/Insert",
                data: { "CategoryName": CategoryName },
                success: function (response) {
                    if (response == "1") {
                        $("#errormsg").text("Record already exists!");
                        $('#errormsg').show();
                    }
                    else {
                        $("#popupcontent").dialog('close');
                        $('#txtcategory').val("");
                        location.reload();
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

    });

    $("#btneditCategory").click(function () {
        if ($('#txtcategoryedit').val() == "") {
            $('#errormsgedit').show(); $('#errormsgedit').text("Please enter Service Delivery Group");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/category/Edit",
            data: { "id": $('#hdnid').val() + "$" + $('#txtcategoryedit').val() },
            success: function (response) {
                if (response == "1") {
                    $("#errormsgedit").text("Record already exists!");
                    $("#errormsgedit").show();
                }
                else {
                    $("#popupcontentedit").dialog('close');
                    $('#txtcategoryedit').val("");
                    location.reload();
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

    });

    
    $("#popupcontentedit").dialog({ autoOpen: false, modal: true, height: 190, width: 650 });

    $("#popupcontentedit").dialog({ autoOpen: false, modal: true, height: 210, width: 700 });
    function OpenEditpopup(CatgID) {

        $('#errormsgedit').hide();        
        $("#hdnid").val(""); $("#hdnid").val(CatgID);
        $.ajax({
            type: "POST",
            url: "/category/GetCategoryByid",
            data: { "id": CatgID },
            success: function (response) {
                if (response != null && response != "") {
                    $("#txtcategoryedit").val(response.CatgDescription);
                    $("#popupcontentedit").dialog('open');
                }
            },
            failure: function (response) {
                // alert(response.responseText);
            },
            error: function (response) {
                //  alert(response.responseText);
            }
        });
    }


    function DeleteData(CatgID) {
        $.ajax({
            type: "POST",
            url: "/category/HasDeleteAccess",
            data: { "id": CatgID },
            success: function (response) {
                //alert(response);
                if (response) {
                    //alert('Entered if');
                    $("#popupcontentdelete").dialog('open');
                    $("#hdndeletecatid").val(CatgID);
                }
                else {
                    //alert('Entered else');
                    return trueOrFalse(false);
                }
            },
            failure: function (response) {
                // alert(response.responseText);
            },
            error: function (response) {
                //  alert(response.responseText);
            }
        });
    }

    function trueOrFalse(bool) {
        return bool;
    }

    $("#btncancelpopupdelete").click(function () {
        $("#popupcontentdelete").dialog('close');
    });

    $("#btndeleteCategory").click(function () {
        var url = '@Url.Content("~/")' + "Category/Delete";
        $("#popupcontentdelete").dialog('close');
        $.post(url, { ID: $("#hdndeletecatid").val() }, function (data) {
            if (data) {
                oTable = $('#example').DataTable();
                oTable.draw();
            } else {
                alert("Something Went Wrong!");
            }
        });
    });

</script>