@model HCAaudit.Service.Portal.AuditUI.Models.Category

@using (Html.BeginForm())
{
    <main class="container neu-margin--top-20">
        <fieldset>
            <div class="row neu-margin--bottom-20 ">
                <div class="neu-input col-3">
                    <label for="state" class="neu-input__label required">Category:</label>
                    @Html.EditorFor(model => model.CatgDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CatgDescription, "", new { @class = "text-danger" })
                </div>
                <div style="display:none" class="neu-input col-3">
                    <label for="state" class="neu-input__label required">Category:</label>
                    @Html.EditorFor(model => model.CatgID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CatgID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>
                <button asp-controller="category" asp-action="Edit" formmethod="post" class="neu-button--primary neu-button neu-button--raised neu-button--large neu-margin--top-30">
                    Submit
                </button>
            </div>
        </fieldset>

    </main>
}