html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100vh; }

.neu-list__item {
  min-height: 110px; }

.pt-name {
  font-family: "HCA-Mark", "Arial", sans-serif !important; }

.pt-info {
  color: #58595b; }

.pt-arrow {
  visibility: hidden; }

.pt-score--success::before {
  font-family: "Material Icons";
  content: "\e5ca";
  vertical-align: bottom;
  font-size: 1.5em; }

.pt-score--fail::before {
  font-family: "Material Icons";
  content: "\e5cd";
  vertical-align: bottom;
  font-size: 1.5em; }

.neu-list__item--active .pt-name {
  font-family: "HCA-Mark-Bold", "Arial", sans-serif !important; }
.neu-list__item--active .pt-info {
  color: #1f2532; }
.neu-list__item--active .pt-arrow {
  visibility: visible; }

.pt-send-msg::before {
  font-family: "Material Icons";
  content: "\e001";
  vertical-align: bottom; }

.req-radio {
  height: 140px;
  width: 160px;
  padding: 0;
  display: flex;
  color: #58595b; }
  .req-radio--content {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: 20px;
    align-items: center;
    border-radius: 5px;
    transition: none; }
    .req-radio--content i {
      font-size: 2em; }
  .req-radio:hover .req-radio--content {
    transition: 0.3s ease-in-out;
    border: 2px solid #00558c; }
  .req-radio:focus .req-radio--content {
    transition: 0.3s ease-in-out;
    border: 2px solid #00558c; }
  .req-radio--input:checked ~ .req-radio--content {
    color: #00558c;
    border: 2px solid #00558c;
    background-color: #e5f2f9; }
    .req-radio--input:checked ~ .req-radio--content h6 {
      font-family: "HCA-Mark-Medium", "Arial", sans-serif !important;
      color: #1f2532; }
  .req-radio--input {
    height: 1.125rem;
    width: 2.5rem;
    top: 10px;
    left: 0;
    position: absolute; }

.neu-input__label.required:after {
  content: " *";
  color: #ce2130; }

.neu-tooltip {
  position: relative;
  display: inline-block;
  cursor: default; }
  .neu-tooltip i {
    font-size: 1.1em; }
  .neu-tooltip .neu-tooltip--text {
    visibility: hidden;
    font-family: "HCA-Mark-Medium", "Arial", sans-serif !important;
    font-size: 0.75em;
    white-space: nowrap;
    background-color: rgba(31, 37, 50, 0.9);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0; }
  .neu-tooltip:hover .neu-tooltip--text {
    visibility: visible;
    opacity: 1; }

.pt-height {
  height: calc(100% - 120px); }

.neu--height-100 {
  height: 100%; }

.neu-overflow--auto {
  overflow: auto; }

.neu-fixed--top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}

.neu-fixed--bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.ui-autocomplete {
    /* these sets the height and width */
    max-height: 200px;
    min-width: calc(100% - 16px) !important;
    /* these make it scroll for anything outside */
    overflow-x: scroll;
    overflow-y: scroll;
    font-family: inherit;
    font-size: initial;
    min-width: calc(100% - 16px) !important;
    overflow-x: scroll;
    overflow-y: scroll;
    font-family: inherit;
    font-size: initial;
    max-height: 125px;
} 
/*Position CSS*/

.neu-padding--top-90 {
    padding-top: 90px;
}

.neu-padding--bottom-60 {
    padding-bottom: 60px;
}
/*DataTable CSS*/
.dataTables_wrapper {
    padding-left: 0;
    padding-right: 0;
}

table.dataTable{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    bottom: 16px !important;
}

/*Jquery UI CSS*/

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: inherit;
    font-size: initial;
}
.ui-dialog {
    padding: 0;
}

.ui-dialog-titlebar {
    border: none;
    background: #03173e;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 4px 4px 0 0;
}

.ui-dialog .ui-dialog-titlebar-close {
    padding: 1rem;
    top: 32%;
    background: transparent !important;
    border: none !important;
    color: #fff !important;
}

.ui-dialog .ui-dialog-content {
    padding: 1rem;
}

.ui-widget-content{
    min-width: 500px;
    max-width: 700px;
}


    /*# sourceMappingURL=main.css.map */
