################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cs
/HCAaudit.Service.Portal.AuditUI/bin/Debug/netcoreapp3.1
/HCAaudit.Service.Portal.AuditUI/bin/Release/netcoreapp3.1
