@{
    ViewData["Title"] = " Category Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

@model List<HCAaudit.Service.Portal.AuditUI.Models.tblQuestionBank>
<div class="container">
    <br />
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"><button type="button" id="btnopenPopUp" class="btn btn-primary">Add Question</button> </div>
    </div>

    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>QuestionID</th>
                    <th>Question Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="popupcontent" title="Add Question" hidden="hidden" class="container">

    <div class="row">
        <div class="col-sm-2"> <label for="format-pdf" class="input-group">Question:</label></div>
        <div class="col-sm-7">
            <input id="txtQuestion" class="form-control form-control-sm"
                   type="text" />
            <span id="errormsg" style="color:red">Please Enter Question</span>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-3">
            
        </div>
        <div class="col-sm-5">
            <button id="btnaddQuestion" class="btn btn-primary">Save</button>&nbsp;
            <button id="btncancelpopup" class="btn btn-danger">Cancel</button>
        </div>
    </div>

</div>

<div id="popupcontentedit" title="Edit Question" hidden="hidden" class="container">

    <div class="row">
        <div class="col-sm-2"> <label for="format-pdf" class="input-group">Question:</label></div>
        <div class="col-sm-7">
            <input id="txtQuestionedit" class="form-control form-control-sm"
                   type="text" />
            <span id="errormsgedit" style="color:red">Please Enter Question</span>
        </div>
        <div class="col-sm-3"><input id="hdnid" type="hidden" /></div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5">
            <button id="btnupdateQuestion" class="btn btn-primary">Update</button>&nbsp;
            <button id="btncancelpopupedit" class="btn btn-danger">Cancel</button>
        </div>
    </div>

</div>

<div id="popupcontentdelete" title="Delete Question" hidden="hidden" class="container">

    <div class="row">
        <div class="col-sm-12">"Are you sure you want to delete ...?"</div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4"><input id="hdndeletecatid" type="hidden" /></div>
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5">
            <button id="btndeleteQuestion" class="btn btn-primary">Yes</button>&nbsp;
            <button id="btncancelpopupdelete" class="btn btn-danger">No</button>
        </div>
    </div>

</div>

<script>

    $(document).ready(function() {
        $("#example").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Questions/Details",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": true
            }],
            "columns": [
                { "data": "QuestionID", "name": "QuestionID", "autoWidth": true },
                { "data": "QuestionName", "name": "QuestionName", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="#" onclick=OpenEditpopup(' + full.QuestionID + ');>Edit</a>'; }
                },
                {
                    data: null,
                    render: function(data, type, row) {
                        return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.QuestionID + "'); >Delete</a>";
                    }
                },
            ]

        });
    });

    $(function () {
        $("#popupcontent").dialog({
            autoOpen: false
        });

        $("#popupcontentedit").dialog({
            autoOpen: false
        });

        $("#btnopenPopUp").click(function () {
            $("#popupcontent").dialog({
                position: 'bottom'
            });
        });
    });

    $("#popupcontent").dialog({ autoOpen: false, modal: true, height: 420, width: 1000 });

    $("#popupcontentedit").dialog({ autoOpen: false, modal: true, height: 420, width: 1000 });

    $("#btncancelpopup").click(function () {
        $("#popupcontent").dialog('close');
    });

    $("#btncancelpopupedit").click(function () {
        $("#popupcontentedit").dialog('close');
    });

    $("#btnopenPopUp").click(function () {

        $.ajax({
            type: "POST",
            url: "/Questions/GetCommaSeperated",
            data: null,
            success: function (response) {
                $("#txtQuestion").autocomplete({
                    source: response
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

        $("#popupcontent").dialog('open');
    });

    $("#txtQuestionedit").keyup(function () {
        if (!this.value) {

            $.ajax({
                type: "POST",
                url: "/Questions/GetCommaSeperated",
                data: null,
                success: function (response) {
                    $("#txtQuestionedit").autocomplete({
                        source: response
                    });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            $("#errormsgedit").show();
        }
        else {
            $("#errormsgedit").hide();
        }
    });

    $("#errormsg").hide();

    $('#txtQuestion').on('keypress', function (event) {
        $('#errormsg').hide();
    });

    $('#txtQuestionedit').on('keypress', function (event) {
        $('#errormsgedit').hide();
    });

    $('#errormsgedit').hide();

    $("#popupcontentedit").dialog({
        position: 'bottom'
    });

    function OpenEditpopup(CatgID) {

        $("#popupcontentedit").dialog('open');
        $("#hdnid").val(""); $("#hdnid").val(CatgID);
        $.ajax({
            type: "POST",
            url: "/questions/GetQuestionByid",
            data: { "id": CatgID },
            success: function (response) {
                if (response != null && response != "") {
                    $("#txtQuestionedit").val(response.QuestionName);
                }
            },
            failure: function (response) {
                // alert(response.responseText);
            },
            error: function (response) {
                //  alert(response.responseText);
            }
        });
    }

    $("#btnupdateQuestion").click(function () {
        if ($('#txtQuestionedit').val() == "") {
            $('#errormsgedit').show();
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/questions/Edit",
            data: { "id": $('#hdnid').val() + "$" + $('#txtQuestionedit').val() },
            success: function (response) {
                if (response == "1") {
                    alert("Record already exists!");
                }
                else {
                    $("#popupcontentedit").dialog('close');
                    $('#txtQuestionedit').val("");
                    location.reload();
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

    });

    $("#btnaddQuestion").click(function () {

        var questionName = $('#txtQuestion').val();
        if (questionName == "") { $("#errormsg").show(); return false;}
        $.ajax({
            type: "POST",
            url: "/Questions/Insert",
            data: { "questionname": questionName },
            success: function (response) {
                if (response == "1") {
                    alert("Record already exists!");
                }
                else {
                    $("#popupcontent").dialog('close');
                    location.reload();
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

    });

    $("#popupcontentdelete").dialog({
        autoOpen: false
    });


    $("#btndeleteQuestion").click(function () {
        $("#popupcontentdelete").dialog({
            position: 'bottom'
        });
    });

    $("#popupcontentdelete").dialog({ autoOpen: false, modal: true, height: 150, width: 650 });

    $("#btncancelpopup").click(function () {
        $("#popupcontentdelete").dialog('close');
    });


    function DeleteData(CatgID) {
        $("#popupcontentdelete").dialog('open');
        $("#hdndeletecatid").val(CatgID);
    }

    $("#btncancelpopupdelete").click(function () {
        $("#popupcontentdelete").dialog('close');
    });

    $("#btndeleteQuestion").click(function () {
        $("#popupcontentdelete").dialog('close');
        var url = '@Url.Content("~/")' + "Questions/Delete";

        $.post(url, { ID: $("#hdndeletecatid").val() }, function (data) {
            if (data) {
                oTable = $('#example').DataTable();
                oTable.draw();
            } else {
                alert("Something Went Wrong!");
            }
        });
    });

</script>