@{
    ViewData["Title"] = "Question Master";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
@*<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />*@

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<style type="text/css">
    .ui-autocomplete {
        /* these sets the height and width */
        max-height: 200px;
        min-width: calc(100% - 16px) !important;
        /* these make it scroll for anything outside */
        overflow-x: scroll;
        overflow-y: scroll;
        font-family: inherit;
        font-size: initial;
        min-width: calc(100% - 16px) !important;
        overflow-x: scroll;
        overflow-y: scroll;
        font-family: inherit;
        font-size: initial;
        max-height: 125px;
    }
</style>

@model List<HCAaudit.Service.Portal.AuditUI.Models.tblQuestionBank>

<div class="row neu-margin--bottom-16">
    <div class="col-12">
        <h3 align="center" class="neu-text--h3 neu-text--bold align-content-xl-center">Question Master</h3>
    </div>
</div>

<div class="row neu-margin--bottom-16">
    <div class="col-sm-12 d-flex justify-content-end">
        <button type="button" id="btnopenPopUp" class="neu-button--primary neu-button neu-button--raised">Add Question</button>
    </div>
</div>

<div class="row neu-margin--bottom-16">
    <div class="col-sm-12">
        <table id="example" class="neu-table neu-margin--vert-16" width="100%" cellspacing="0">
            <thead >
                <tr class="neu-table__row--large">
                    <th>QuestionID</th>
                    <th style="width:40%">Question Name</th>
                    <th style="width:40%">Question Description</th>
                    <th style="width:10%">Edit</th>
                    <th style="width:10%">Delete</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="popupcontent" title="Add Question" hidden="hidden" class="neu-container">
    <div class="row neu-margin--bottom-16">
        <div class="col-md-12">
            <label for="txtQuestion" class="neu-input__label">Question Text:</label>
            <textarea id="txtQuestion" class="neu-input__field" type="text" rows="5" cols="50" style="resize:none"></textarea>
            <span id="errormsg" class="neu-button--danger"></span>
        </div>
    </div>

    <div class="row neu-margin--bottom-16">
        <div class="col-sm-12">
            <label for="txtdescription" class="neu-input__label">Question Description:</label>
            <textarea id="txtdescription" class="neu-input__field" rows="5" cols="50" style="resize:none"></textarea>
            <span id="errordescriptionmsg" class="neu-button--danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 neu-text--align-center">
            <button id="btnaddQuestion" class="neu-button--primary neu-button neu-button--raised">Save</button>
            <button id="btncancelpopup" class="neu-button--danger neu-button neu-button--raised neu-margin--left-10">Cancel</button>
        </div>
    </div>

</div>

<div id="popupcontentedit" title="Edit Question" hidden="hidden" class="container">
    <div class="row neu-margin--bottom-16">
        <div class="col-sm-12">
            <label for="txtQuestionedit" class="neu-input__label">Question Text:</label>
            <textarea id="txtQuestionedit" class="neu-input__field" type="text" rows="5" cols="50" style="resize:none"> </textarea>
            <span id="errormsgedit" class="neu-button--danger">Please Enter Question</span>
            <input id="hdnid" type="hidden" />
        </div>
        <div class="col-sm-12"></div>
    </div>

    <div class="row neu-margin--bottom-16">
        <div class="col-sm-12">
            <label for="txtdescriptionedit" class="neu-input__label">Question Description:</label>
            <textarea id="txtdescriptionedit" class="neu-input__field" rows="5" cols="50" style="resize:none"></textarea>
            <span id="errordescriptionmsgedit" class="neu-button--danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 neu-text--align-center">
            <button id="btnupdateQuestion" class="neu-button--primary neu-button neu-button--raised">Update</button>
            <button id="btncancelpopupedit" class="neu-button--danger neu-button neu-button--raised neu-margin--left-10">Cancel</button>
        </div>
    </div>

</div>

<div id="popupcontentdelete" title="Delete Question" hidden="hidden" class="container">
    <div class="row neu-margin--bottom-16">
        <div class="col-sm-12"><label id="lblcustomtextfor"></label></div>
    </div>
    <div class="row">
        <div class="col-sm-12"><input id="hdndeletecatid" type="hidden" /></div>
        <div class="col-sm-12 neu-text--align-center">
            <button id="btndeleteCategoryok" class="neu-button--primary neu-button neu-button--raised">OK</button>&nbsp;
            <button id="btndeleteQuestion" class="neu-button--primary neu-button neu-button--raised">Yes</button>&nbsp;
            <button id="btncancelpopupdelete" class="neu-button--danger neu-button neu-button--raised neu-margin--left-10">No</button>
        </div>
    </div>
</div>



<script>

    $(document).ready(function() {
        $("#example").DataTable({
            //"ordering": false,
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Questions/Details",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [
                { "data": "QuestionID", "name": "QuestionID", "autoWidth": true },
                { "data": "QuestionName", "name": "QuestionName", "autoWidth": true },
                { "data": "QuestionDescription", "name": "QuestionDescription", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) { return '<a class="neu-button--primary neu-button--small neu-button--flat" href="javascript:void(0)" onclick=OpenEditpopup(' + full.QuestionID + ');>Edit</a>'; }
                },
                {
                    data: null,
                    render: function(data, type, row) {
                        return "<a href='#' class='neu-button--danger neu-button--small neu-button--flat' onclick=DeleteData('" + row.QuestionID + "'); >Delete</a>";
                    }
                },
            ],
            "createdRow": function (row, data, dataIndex) {
                $(row).addClass('neu-table__row--small');
            }
        });
    });

    $(function () {
        $("#popupcontent").dialog({
            width: 'auto',
            autoOpen: false,
            draggable: false,
            resizable: false
        });

        $("#popupcontentedit").dialog({
            width: 'auto',
            autoOpen: false,
            draggable: false,
            resizable: false
        });

        $("#btncancelpopup").click(function () {
            $("#popupcontent").dialog('close');
        });

        $("#btncancelpopupedit").click(function () {
            $("#popupcontentedit").dialog('close');
        });

        $("#btnopenPopUp").click(function () {
            $("#popupcontent").dialog({
                position: 'bottom'
            });
        });
        $("#btnopenPopUp").click(function () {
            $("#popupcontentedit").dialog({
                position: 'bottom'
            });
        });
    });



    $("#btnopenPopUp").click(function () {

        $.ajax({
            type: "POST",
            url: "/Questions/GetCommaSeperated",
            data: null,
            success: function (response) {
                $("#txtQuestion").autocomplete({
                    source: response
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

        $("#popupcontent").dialog('open');
    });

    $("#txtQuestionedit").keyup(function () {
        if (!this.value) {

            $.ajax({
                type: "POST",
                url: "/Questions/GetCommaSeperated",
                data: null,
                success: function (response) {
                    $("#txtQuestionedit").autocomplete({
                        source: response
                    });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
            $("#errormsgedit").show(); $("#errormsgedit").text("Please Enter Question");
        }
        else {
            $("#errormsgedit").hide();
        }
    });

    $("#errormsg").hide();

    $('#txtQuestion').on('keypress', function (event) {
        $('#errormsg').hide();
    });

    $('#txtQuestionedit').on('keypress', function (event) {
        $('#errormsgedit').hide();
    });

    $('#errormsgedit').hide();


    function OpenEditpopup(CatgID) {
        $("#hdnid").val(""); $("#hdnid").val(CatgID);
        $.ajax({
            type: "POST",
            url: "/Questions/GetQuestionByid",
            data: { "id": CatgID },
            success: function (response) {
                if (response != null && response != "") {
                    $("#txtQuestionedit").val(response.QuestionName);
                    $("#txtdescriptionedit").val(response.QuestionDescription);
                }
                $("#popupcontentedit").dialog('open');
            },
            failure: function (response) {
                // alert(response.responseText);
            },
            error: function (response) {
                //  alert(response.responseText);
            }
        });
    }

    $("#btnupdateQuestion").click(function () {
        if ($('#txtQuestionedit').val() == "") {
            $('#errormsgedit').show();
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/Questions/Edit",
            data: { "id": $('#hdnid').val() + "$" + $('#txtQuestionedit').val() + "$" + $('#txtdescriptionedit').val()},
            success: function (response) {
                if (response == "1") {
                    $("#errormsgedit").show(); $("#errormsgedit").text("Record already exists!");
                }
                else {
                    $("#popupcontentedit").dialog('close');
                    $('#txtQuestionedit').val("");
                    $('#txtdescriptionedit').val("");
                    location.reload();
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

    });

    $("#btnaddQuestion").click(function () {

        var questionName = $('#txtQuestion').val();
        var questionDesc = $('#txtdescription').val();

        if (questionName == "") { $("#errormsg").show(); $("#errormsg").text("Please Enter Question"); return false; }
        if (questionDesc == "") { $("#errordescriptionmsg").show(); $("#errordescriptionmsg").text("Please Enter Description"); return false; }
        $.ajax({
            type: "POST",
            url: "/Questions/Insert",
            data: { "questionname": questionName, "questiondesc": questionDesc },
            success: function (response) {
                if (response == "1") {
                    $("#errormsg").show(); $("#errormsg").text("Record already exists!");
                }
                else {
                    $("#popupcontent").dialog('close');
                    location.reload();
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

    });

    $("#popupcontentdelete").dialog({
        autoOpen: false,
        draggable: false,
        resizable: false,
    });


    $("#btndeleteQuestion").click(function () {
        $("#popupcontentdelete").dialog({
            position: 'bottom',
            draggable: false,
            resizable: false,
        });
    });


    $("#popupcontentdelete").dialog({
        autoOpen: false,
        modal: true,
        width: 'auto',
        draggable: false,
        resizable: false
    });


    $("#btncancelpopup").click(function () {
        $("#popupcontentdelete").dialog('close');
    });

    $("#btndeleteCategoryok").click(function () {
        $("#popupcontentdelete").dialog('close');
    });

    function DeleteData(CatgID) {
        $.ajax({
            type: "POST",
            url: "/Questions/HasDeleteAccessforQB",
            data: { "id": CatgID },
            success: function (response) {
                //alert(response);
                if (response == "NoRecords") {
                    $("#lblcustomtextfor").text("Do you want to Delete this Question?");
                    $("#popupcontentdelete").dialog('open');
                    $("#btndeleteCategoryok").hide();
                    $("#btndeleteQuestion").show();
                    $("#btncancelpopupdelete").show();
                    $("#hdndeletecatid").val(CatgID);
                }
                else if (response == "HasRecords") {
                    $("#lblcustomtextfor").text("Please remove Subcategory mapping and then delete this Question");
                    $("#popupcontentdelete").dialog('open');
                    $("#btndeleteCategoryok").show();
                    $("#btndeleteQuestion").hide();
                    $("#btncancelpopupdelete").hide();
                    //alert('Entered else');
                    //return trueOrFalse(false);
                }
            },
            failure: function (response) {
                // alert(response.responseText);
            },
            error: function (response) {
                //  alert(response.responseText);
            }
        });
    }



    $("#btncancelpopupdelete").click(function () {
        $("#popupcontentdelete").dialog('close');
    });

    $("#btndeleteQuestion").click(function () {
        $("#popupcontentdelete").dialog('close');
        var url = '@Url.Content("~/")' + "Questions/DeleteQuestionBank";

        $.post(url, { ID: $("#hdndeletecatid").val() }, function (data) {
            if (data) {
                oTable = $('#example').DataTable();
                oTable.draw();
            } else {
                alert("Something Went Wrong!");
            }
        });
    });

</script>
