
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="row align-center mt30">
            <div class="small-24 medium-24 large-16 columns text-center">
                <br />
                <br />
                <br />
                <h3 class="text-danger">Error.</h3>
                <h4 class="text-danger">You are not authorized to use this Application. Please check with your Manager if you need access to this application.</h4>
                <br />
                <br />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="small-24 columns table-scroll">
                <!-- Results Table will go here -->
            </div>
        </div>
   

