
@{
    ViewData["Title"] = " Resut Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>


@model HCAaudit.Service.Portal.AuditUI.Models.BindSearchGrid

<main class="container neu-margin--top-30">
    <div class="jumbotron-fluid">
        <div class="row">
            <div class="col-12">
                <h3 align="center" class="neu-text--h3 neu-text--bold align-content-xl-center">Search Results</h3>
            </div>
        </div>

        <div class="container">
            <br />
            <div style="width:100%; margin:0 auto;">
                <table id="example" class="neu-table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ticket Number</th>
                            <th>Created Date</th>
                            <th>Subject</th>
                            <th>SubCategory</th>
                            <th>Service Group</th>
                            <th>Assigned To</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</main>
        <script>
            $(document).ready(function ()
            {

                function getUrlVars() {
                    var vars = [], hash;
                    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                    for (var i = 0; i < hashes.length; i++)
                    {
                        hash = hashes[i].split('=');
                        vars.push(hash[0]);
                        vars[hash[0]] = hash[1];
                    }
                    return vars;
                }

                var searchparameter = {
                    "EnvironmentType": getUrlVars()["EnvironmentType"],
                    "ResultType": getUrlVars()["ResultType"],
                    "CategoryID": getUrlVars()["CatgID"],
                    "SubcategoryID": getUrlVars()["SubCatID"],
                    "AssignedTo": getUrlVars()["AssignedTo"],
                    "TicketStatus": getUrlVars()["TicketStatus"],
                    "TicketSubStatus": getUrlVars()["TicketSubStatus"],
                    "FromDate": getUrlVars()["startdate"],
                    "EndDate": getUrlVars()["enddate"],
                    "TicketId": getUrlVars()["TicketId"],
                    "ResultCountCriteria": getUrlVars()["ResultCount"]
                };

                $("#example").DataTable({
                    "processing": true, // for show progress bar
                    "serverSide": true, // for process server side
                    "filter": true, // this is for disable filter (search box)
                    "orderMulti": false, // for disable multiple column at once
                    "ajax": {
                        "url": "/search/GetSearchDetails",
                        "type": "POST",
                        "datatype": "json",
                        "data": { searchparameter: searchparameter },
                    },
                    "columnDefs": [{
                        "targets": [0],
                        "visible": true,
                        "searchable": true
                    }],
                    "columns": [
                        {
                            "render": function (data, type, full, meta) {
                                debugger;
                                return '<a class="neu-topnav__compact" style="text-decoration-style:solid;font-weight:bold" href="'+full.Url +'" target="_self">' + full.TicketCode + '</a>';
                            }
                        },
                        { "data": "ClosedDate", "name": "CreatedDate", "autoWidth": true },
                        { "data": "Topic", "name": "Subject", "autoWidth": true },
                        { "data": "SubCategory", "name": "SubCategory", "autoWidth": true },
                        { "data": "ServiceDeliveryGroup", "name": "ServiceGroup", "autowidth": true },
                        { "data": "Agent34ID", "name": "AssignedTo", "autowidth": true },
                    ]
                });
            });
        </script>






