<link href="~/lib/DataTables/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/css/responsive.bootstrap4.min.css" rel="stylesheet" />
<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/css/bootstrap-datepicker.min.css" rel="stylesheet" />
@*<link rel="stylesheet" href="~/css/jquery-ui.css" />*@

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/js/bootstrap-multiselect.min.js"></script>
<script src="~/js/bootstrap-datepicker.min.js"></script>
<script src="~/js/jquery-ui.js"></script>
<script src="~/lib/DataTables/DataTables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/DataTables/DataTables/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="~/js/moment.min.js"></script>
<script src="~/js/jquery-ui.min.js"></script>

@*.ui-autocomplete{
        max-height:250px;
        overflow: auto;
    }*@

<style type="text/css">
    .ui-autocomplete {
        /* these sets the height and width */
        /*max-height: 300px;
        min-width: calc(100% - 16px) !important;*/
        /* these make it scroll for anything outside */
        /* overflow-x: scroll;
        overflow-y: scroll;
        font-family: inherit;
        font-size: initial;
        min-width: calc(100% - 16px) !important;
        overflow-x: scroll;
        overflow-y: scroll;
        font-family: inherit;
        font-size: initial;*/
        /*max-height: 125px;*/
        max-height: 250px;
        overflow: auto;
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="row neu-margin--bottom-16">
    <div class="col-12">
        <h3 align="center" class="neu-text--h3 neu-text--bold align-content-xl-center">Search Cases For Audit/Dispute</h3>
    </div>
</div>

<form class="form-inline neu-margin--bottom-16">
    <div class="row neu-margin--bottom-16">
        <div class="col-sm-4">
            <label class="neu-input__label">Environment</label>
            <label>&nbsp;&nbsp;</label>
            <input type="radio" name="EnvironmentType" checked="checked"
                   value="Production"
                   tabindex="0"
                   required class="radio-success" />
            <label class="neu-input__label">Production</label>
            <label>&nbsp;</label>
            <input type="radio" name="EnvironmentType"
                   value="Training"
                   tabindex="0"
                   required />
            <label class="neu-input__label">Training</label>
        </div>
        <div class="col-sm-8">
            <div class="cols" tabindex="-1">
                <label class="neu-input__label">Audit/Dispute</label>
                <label>&nbsp;&nbsp;</label>
                <input type="radio" name="ResultType" id="rbtaudit" checked="checked"
                       value="Audit"
                       tabindex="0"
                       required class="radio-success" />
                <label class="neu-input__label">Audit</label>&nbsp;
                <label>&nbsp;</label>
                <input type="radio" name="ResultType" id="rbtdispute"
                       value="Dispute"
                       tabindex="0"
                       required class="radio-success" />
                <label class="neu-input__label">Dispute</label>
                <label>&nbsp;</label>
                <input type="radio" name="ResultType" id="rbtescalated"
                       value="Escalated"
                       tabindex="0"
                       required class="radio-success" />
                <label class="neu-input__label">Escalated</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div tabindex="-1" aria-checked="false" style="text-align:left;">
                <label class="neu-input__label required" for="CatgID" style="text-align:left;width:50%">Service Delivery Group</label>
                <select name="CatgID" id="CatgID" class="neu-select" title="select"
                        asp-items="@(new SelectList(@ViewBag.ListOfCategory, "CatgId", "CatgDescription"))">
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div tabindex="-1" aria-checked="false" style="text-align:left;">
                <label class="neu-input__label required" for="SubCatID" style="text-align:left;width:25%;">Sub Category</label>
                <select name="SubCatID" id="SubCatID" class="neu-select">
                    <option value="0">Select Sub Category</option>
                </select>

            </div>
        </div>
        <div class="col-sm-4">
            <div tabindex="-1" aria-checked="false" style="text-align:left;">
                <label class="neu-input__label required" for="txtassignedto" style="text-align:left;width:25%;">Assigned To</label>
                <input name="AssignedTo" id="txtassignedto" class="neu-input__field" type="text" style="width:100%" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div tabindex="-1" aria-checked="false" style="text-align:left;width:100%;">
                <label class="neu-input__label" for="StatusList" style="text-align:left;width:30%;">Case Status</label>
                <select name="TicketStatus" id="StatusList" class="neu-select">
                    <option value="0">Closed</option>
                    <option value="1">Pending</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div tabindex="-1" aria-checked="false" style="text-align:left;width:100%;">
                <label class="neu-input__label" for="TicketSubStatus" style="text-align:left;width:30%;">Case Sub Status</label>
                <select name="TicketSubStatus" id="TicketSubStatus" class="neu-select">
                    <option>Select Substatus</option>
                    <option value="InProgress">In Progress</option>
                    <option value="Pending">Pending</option>
                    <option value="UnAssigned">UnAssigned</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div tabindex="-1" aria-checked="false" style="text-align:left;width:100%;">
                <label class="neu-input__label" for="TicketId" style="text-align:left;width:30%;">Case Id</label>
                <input name="TicketId" id="TicketId" class="neu-input__field" type="text" style="width:100%" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="neu-input col-4">
            <div aria-checked="false" style="text-align:left;width:100%;">
                <label for="startdate" class="neu-input__label">Start Date</label>
                <input class="neu-input__field" id="startdate" name="startdate" type="text" aria-disabled="false">
            </div>
        </div>
        <div class="neu-input col-4">
            <div aria-checked="false" style="text-align:left;width:100%;">
                <label for="enddate" class="neu-input__label">To Date</label>
                <input class="neu-input__field" id="enddate" name="enddate" type="text" aria-disabled="false">
            </div>
        </div>
        <div class="col-sm-4">
            <div tabindex="-1" aria-checked="false" style="text-align:left;width:100%;">
                <label class="neu-input__label" for="ResultCount" style="text-align:left;width:30%;">Result Count</label>
                <div class="neu-tooltip">
                    <i class="material-icons" tabindex="0">info</i>
                    <span class="neu-tooltip--text">Result Count ("All" or number or percentage)</span>
                </div>
                <input name="ResultCount" id="ResultCount" maxlength="4" value="All" class="neu-input__field" type="text" style="width:100%" />
            </div>
        </div>
    </div>

    <div class="row neu-margin--bottom-16">
        <div class="col-sm-12 d-flex justify-content-center">
            <span id="errormsgforcategory" class="neu-button--danger"></span>
        </div>
    </div>

    <div class="row neu-margin--bottom-16">
        <div class="col-sm-4 d-flex justify-content-left">
            <button type="button" id="btnshowstats" class="neu-button--primary neu-button neu-button--raised">My Recent Audits</button>
        </div>
        <div class="col-sm-12 d-flex justify-content-center">
            <button asp-controller="Search" id="btnsearch" asp-action="Details" class="neu-button--primary neu-button neu-button--raised neu-margin--left-10">Search</button>
            <button asp-="Search" id="btncancel" asp-action="Index" class="neu-button--danger neu-button neu-button--raised neu-margin--left-10">Clear</button>
        </div>
    </div>

    <div id="popupstats" title="Recent Audits by me" hidden="hidden" class="container">
        <div class="row neu-margin--bottom-0">
            <div class="col-sm-6">
                <label class="neu-input__label" for="txtYTD">Tickets YTD (Audit/Dispute count)</label>
                <input class="neu-input__field" aria-disabled="false" disabled="disabled" type="text" id="txtYTD">
            </div>
            <div class="col-sm-6">
                <label class="neu-input__label" for="txtMTD">Ticktes MTD (Audit/Dispute count)</label>
                <input class="neu-input__field" aria-disabled="false" disabled="disabled" type="text" id="txtMTD">
            </div>
        </div>
        <div class="row neu-margin--bottom-16">
            <div class="col-sm-12">
                <table id="statresult" class="neu-table neu-margin--vert-16" width="100%" cellspacing="0">
                    <thead>
                        <tr class="neu-table__row--small">
                            <th width="15%">Case ID</th>
                            <th width="15%">HR 3/4 ID</th>
                            <th width="20%">Comp/NonComp</th>
                            <th width="25%">Audit Date</th>
                            <th width="10%">Dispute Status</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 neu-text--align-center">
                <button id="btncancelstat" class="neu-button--danger neu-button neu-button--raised neu-margin--left-10">Cancel</button>
            </div>
        </div>
    </div>
</form>

<div id="popupcontent" title="Mandate Fields" hidden="hidden" class="container">
    <div class="row">
        <div class="col-sm-2"> </div>
        <div class="col-sm-6">
            <span id="errormsg" style="color:red"></span>
        </div>
        <div class="col-sm-4">
            <button id="btncancelpopup" class="btn btn-danger">Cancel</button>
        </div>
    </div>
</div>


@section Scripts
    {
    <!-- Script for the date range picker -->
    <script type="text/javascript" src="~/js/daterangepicker.js"></script>
    <link rel="stylesheet"
          type="text/css"
          href="~/css/daterangepicker.css" />

    <!-- Script for the date range picker -->
    <script type="text/javascript">
        $(document).ready(function () {
            var dateStart = new Date();
            dateStart.setDate(dateStart.getDate() - 7);

            var dateEnd = new Date();
            dateEnd.setDate(dateEnd.getDate());

            $("#popupstats").dialog({
                width: 'auto',
                height: 400,
                autoOpen: false,
                draggable: false,
                resizable: true
            });


            $('input[name="startdate"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'), 10)
            }).val(moment(dateStart).format("MM/DD/YYYY"));

            $('input[name="enddate"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'), 10)
            }).val(moment(dateEnd).format("MM/DD/YYYY"));

            $.ajax({
                type: "POST",
                url: "/Search/GetCommaSeperated",
                data: null,
                success: function (response) {
                    $("#txtassignedto").autocomplete({
                        source: response
                    });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

            $.ui.autocomplete.filter = function (array, term) {
                var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(term), "i");
                return $.grep(array, function (value) {
                    return matcher.test(value.label || value.value || value);
                });
            };

            $("#btnshowstats").click(function () {
                $.ajax({
                    type: "POST",
                    url: "/search/GetStatistics",
                    data: null,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        $("#txtYTD").val(response.YearToDate);
                        $("#txtMTD").val(response.MonthToDate);

                        $('#statresult tbody').empty();

                        $.each(response.RecentTicketLists, function (i, item) {
                            var row = "";
                            var myDatetime = item.AuditDate.toString("MM/dd/yyyy");

                            row += "<tr><td>" + item.TicketCode
                                + "</td><td>" + item.Agent34Id
                                + "</td><td>" + item.CompliantNonCompliant
                                + "</td><td>" + myDatetime
                                + "</td><td>" + item.Dispute
                                + "</td></tr>";

                            $('#statresult tbody').append(row);
                        })
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
                $("#popupstats").dialog('open');
            });

            $("#btncancelstat").click(function () {
                $("#popupstats").dialog('close');
            });

            $("#btncancel").click(function () {
                $("#popupcontent").dialog('close');
            });

            $("#btnsearch").click(function () {
                $("#errormsgforcategory").text("");
                var environmenttype = $("input[name='EnvironmentType']:checked").val();
                var resultcount = $("#ResultCount").val();
                var screentype = $("input[name='ResultType']:checked").val();
                var categoryID = $("#CatgID").val();
                var subcategoryID = $("#SubCatID").val();
                var assignedTo = $("#txtassignedto").val();
                var ticketId = $("#TicketId").val();
                var ticketStatus = $("#StatusList").val();
                var startdate = $("#startdate").val();
                var enddate = $("#enddate").val();

                if (categoryID == "0" && subcategoryID == "0" && assignedTo == "" && ticketId == "") {
                    $("#errormsgforcategory").append("Select Either Service Delivery Group Or Sub Category Or Assigned To Or Case Id field.");
                }

                if ($("#errormsgforcategory").text() == "") {
                    if (resultcount != "" && resultcount.toLowerCase() != "all") {
                        if (resultcount.indexOf('%') > -1) {
                            if (resultcount.length == resultcount.indexOf('%') + 1) {
                                var resultcount = resultcount.substr(0, resultcount.length - 1)
                                if (!$.isNumeric(resultcount) || parseInt(resultcount) < 1 || parseInt(resultcount) > 100) {
                                    $("#errormsgforcategory").append("Result Field can have value as All or value between 1 - 100% or count between 1 - 1000.")
                                }
                            } else {
                                $("#errormsgforcategory").append("Result Field can have value as All or value between 1 - 100% or count between 1 - 1000.")
                            }
                        } else {
                            if (!$.isNumeric(resultcount) || parseInt(resultcount) < 1 || parseInt(resultcount) > 1000) {
                                $("#errormsgforcategory").append("Result Field can have value as All or value between 1 - 100% or count between 1 - 1000.")
                            }
                        }
                    }
                }

                if ($("#errormsgforcategory").text() != "") {
                    return false;
                }
            });

            $('#StatusList').change(function () {
                if ($('#StatusList').val() == 0) {
                    $('#TicketSubStatus').prop('disabled', true);
                }
                else {
                    $('#TicketSubStatus').prop('disabled', false);
                }
            });

            if ($('#StatusList').val() == 0) {
                $('#TicketSubStatus').prop('disabled', true);
            }
            else {
                $('#TicketSubStatus').prop('disabled', false);
            }

            $("#rbtaudit").change(function () {
                if ($(this).val() == "Audit") {
                    $('#StatusList').prop('disabled', false);
                    if ($('#StatusList').val() == 0) {
                        $('#TicketSubStatus').prop('disabled', true);
                    }
                    else {
                        $('#TicketSubStatus').prop('disabled', false);
                    }
                    $('#CatgID').prop('disabled', false);
                    $('#SubCatID').prop('disabled', false);
                    $('#txtassignedto').prop('disabled', false);
                    $('#startdate').prop('disabled', false);
                    $('#enddate').prop('disabled', false);
                    $('#ResultCount').prop('disabled', false);
                }
            });

            $("#rbtdispute").change(function () {
                if ($(this).val() != "Audit" && $(this).val() != "Escalated") {
                    $('#StatusList').prop('disabled', true);
                    $('#TicketSubStatus').prop('disabled', true);
                    $('#CatgID').prop('disabled', false);
                    $('#SubCatID').prop('disabled', false);
                    $('#txtassignedto').prop('disabled', false);
                    $('#startdate').prop('disabled', false);
                    $('#enddate').prop('disabled', false);
                    $('#ResultCount').prop('disabled', false);
                }
            });

            $("#rbtescalated").change(function () {
                if ($(this).val() == "Escalated") {
                    $('#CatgID').prop('disabled', true);
                    $('#SubCatID').prop('disabled', true);
                    $('#txtassignedto').prop('disabled', true);
                    $('#StatusList').prop('disabled', true);
                    $('#TicketSubStatus').prop('disabled', true);
                    $('#startdate').prop('disabled', true);
                    $('#enddate').prop('disabled', true);
                    $('#ResultCount').prop('disabled', true);
                }
            });

            var catGId = $("#CatgID").val();
            if (catGId == 0) {
                $.ajax({
                    type: "POST",
                    url: "/search/GetAllSubcategory",
                    //data: null,
                    success: function (response) {
                        $('#SubCatID').html('');
                        var options = '';
                        options += '<option value="0">Select Sub Category</option>';
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].SubCatgID + '">' + response[i].SubCatgDescription + '</option>';
                        }
                        $('#SubCatID').append(options);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }


            $('#ResultCount').on('keypress', function (event) {
                //alert(event.which);
                if ((event.which == 65 || event.which == 76 || event.which == 97 || event.which == 108 || event.which == 37) || (event.which > 47 && event.which < 58)) {
                    return true;
                }
                else {
                    event.preventDefault();
                    return false;
                }
            });

            $("#CatgID").change(function () {
                var categoryID = $('#CatgID').val();
                $.ajax({
                    type: "POST",
                    url: "/search/BindSubCategory",
                    data: { "categoryID": categoryID },
                    success: function (response) {
                        $('#SubCatID').html(''); $("#ShowQuestions").hide();
                        var options = '';
                        options += '<option value="0">Select Sub Category</option>';
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].SubCatgID + '">' + response[i].SubCatgDescription + '</option>';
                        }
                        $('#SubCatID').append(options);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    </script>
}

