<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="~/js/moment.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

<style type="text/css">
    .ui-autocomplete {
        /* these sets the height and width */
        /*max-height: 200px;
        max-width: 10px;*/
        /* these make it scroll for anything outside */
        /*overflow-x: scroll;
        overflow-y: scroll;
        font-family: inherit;
        font-size: initial;*/
        overflow-x: scroll;
        overflow-y: scroll;
        font-family: inherit;
        font-size: initial;
        min-width: calc(100% - 16px) !important;
        overflow-x: scroll;
        overflow-y: scroll;
        font-family: inherit;
        font-size: initial;
    }

        /*.ui-autocomplete:hover {
            color: #fff;
            background-color: red;
        }*/
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="row neu-margin--bottom-16">
    <div class="col-12">
        <h3 align="center" class="neu-text--h3 neu-text--bold align-content-xl-center">Search Tickets For Audit/Dispute</h3>
    </div>
</div>

<form class="form-inline neu-margin--bottom-16">
    <div class="row neu-margin--bottom-16">
        <div class="col-sm-4">
            <label class="neu-input__label">Environment</label>
            <label>&nbsp;&nbsp;</label>
            <input type="radio" name="EnvironmentType" checked="checked"
                   value="Production"
                   tabindex="0"
                   required class="radio-success" />
            <label class="neu-input__label">Production</label>
            <label>&nbsp;</label>
            <input type="radio" name="EnvironmentType"
                   value="Training"
                   tabindex="0"
                   required />
            <label class="neu-input__label">Training</label>
        </div>
        <div class="col-sm-4">
            <div class="cols" tabindex="-1">
                <label class="neu-input__label">Audit/Dispute</label>
                <label>&nbsp;&nbsp;</label>
                <input type="radio" name="ResultType" id="rbtaudit" checked="checked"
                       value="Audit"
                       tabindex="0"
                       required class="radio-success" />
                <label class="neu-input__label">Audit</label>&nbsp;
                <label>&nbsp;</label>
                <input type="radio" name="ResultType" id="rbtdispute"
                       value="Dispute"
                       tabindex="0"
                       required class="radio-success" />
                <label class="neu-input__label">Dispute</label>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
            <div tabindex="-1" aria-checked="false" style="text-align:left;">
                <label class="neu-input__label required" for="CatgID" style="text-align:left;width:50%">Service Delivery Group</label>
                <select name="CatgID" id="CatgID" class="neu-select" title="select"
                        asp-items="@(new SelectList(@ViewBag.ListOfCategory, "CatgID", "CatgDescription"))">
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div tabindex="-1" aria-checked="false" style="text-align:left;">
                <label class="neu-input__label required" for="SubCatID" style="text-align:left;width:25%;">Sub Category</label>
                <select name="SubCatID" id="SubCatID" class="neu-select">
                    <option value="0">Select Sub Category</option>
                </select>

            </div>
        </div>
        <div class="col-sm-4">
            <div tabindex="-1" aria-checked="false" style="text-align:left;">
                <label class="neu-input__label required" for="txtassignedto" style="text-align:left;width:25%;">Assigned To</label>
                <input name="AssignedTo" id="txtassignedto" class="neu-input__field" type="text" style="width:100%" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
            <div tabindex="-1" aria-checked="false" style="text-align:left;width:100%;">
                <label class="neu-input__label" for="StatusList" style="text-align:left;width:30%;">Ticket Status</label>
                <select name="TicketStatus" id="StatusList" class="neu-select">
                    <option value="0">Closed</option>
                    <option value="1">Pending</option>
                </select>

            </div>
        </div>
        <div class="col-sm-4">
            <div tabindex="-1" aria-checked="false" style="text-align:left;width:100%;">
                <label class="neu-input__label" for="TicketSubStatus" style="text-align:left;width:30%;">Ticket Sub Status</label>
                <select name="TicketSubStatus" id="TicketSubStatus" class="neu-select">
                    <option>Select Substatus</option>
                    <option value="InProgress">In Progress</option>
                    <option value="Pending">Pending</option>
                    <option value="UnAssigned">UnAssigned</option>
                </select>

            </div>
        </div>
        <div class="col-sm-4">
            <div tabindex="-1" aria-checked="false" style="text-align:left;width:100%;">
                <label class="neu-input__label" for="TicketId" style="text-align:left;width:30%;">Ticket Id</label>
                <input name="TicketId" id="TicketId" class="neu-input__field" type="text" style="width:100%" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="neu-input col-4">
            <div aria-checked="false" style="text-align:left;width:100%;">
                <label for="startdate" class="neu-input__label">Start Date</label>
                <input class="neu-input__field" id="startdate" name="startdate" type="text" aria-disabled="false">
            </div>
        </div>
        <div class="neu-input col-4">
            <div aria-checked="false" style="text-align:left;width:100%;">
                <label for="enddate" class="neu-input__label">To Date</label>
                <input class="neu-input__field" id="enddate" name="enddate" type="text" aria-disabled="false">
            </div>
        </div>
        <div class="col-sm-4">
            <div tabindex="-1" aria-checked="false" style="text-align:left;width:100%;">
                <label class="neu-input__label" for="ResultCount" style="text-align:left;width:30%;">Result Count</label>
                <input name="ResultCount" id="ResultCount" maxlength="4" value="All" class="neu-input__field" type="text" style="width:100%" />
            </div>
        </div>
    </div>

    <div class="row neu-margin--bottom-16">
        <div class="col-sm-12 d-flex justify-content-center">
            <span id="errormsgforcategory" class="neu-button--danger"></span>
        </div>
    </div>

    <div cass="row" style="text-align:center;width:100%;">
        <div class="col-12">
            <button asp-controller="Search" id="btnsearch" asp-action="Details" class="neu-button--primary neu-button neu-button--raised">
                &nbsp;Search
            </button>
            <button asp-controller="Search" id="btncancel" asp-action="Index" class="neu-button--danger neu-button neu-button--raised neu-margin--left-10">
                &nbsp;&nbsp;Clear&nbsp;&nbsp;&nbsp;
            </button>
        </div>
    </div>
</form>

<div id="popupcontent" title="Mandate Fields" hidden="hidden" class="container">
    <div class="row">
        <div class="col-sm-2"> </div>
        <div class="col-sm-6">
            <span id="errormsg" style="color:red"></span>
        </div>
        <div class="col-sm-4">
            <button id="btncancelpopup" class="btn btn-danger">Cancel</button>
        </div>
    </div>
</div>


@section Scripts
    {
    <!-- Script for the date range picker -->
    <script type="text/javascript" src="~/js/daterangepicker.js"></script>
    <link rel="stylesheet"
          type="text/css"
          href="~/css/daterangepicker.css" />
    <!-- Script for the date range picker -->
    <script type="text/javascript">
        $(document).ready(function () {
            var dateStart = new Date();
            dateStart.setDate(dateStart.getDate() - 7);

            var dateEnd = new Date();
            dateEnd.setDate(dateEnd.getDate());

            $('input[name="startdate"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'), 10)
            }).val(moment(dateStart).format("MM/DD/YYYY"));

            $('input[name="enddate"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                minYear: 1901,
                maxYear: parseInt(moment().format('YYYY'), 10)
            }).val(moment(dateEnd).format("MM/DD/YYYY"));

            $.ajax({
                type: "POST",
                url: "/Search/GetCommaSeperated",
                data: null,
                success: function (response) {
                    // alert(response.length);
                    $("#txtassignedto").autocomplete({
                        source: response
                    });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

            $.ui.autocomplete.filter = function (array, term) {
                var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(term), "i");
                return $.grep(array, function (value) {
                    return matcher.test(value.label || value.value || value);
                });
            };

            //$("#popupcontent").dialog({
            //    autoOpen: false
            //});

            //$("#popupcontent").dialog({ autoOpen: false, modal: true, height: 190, width: 650 });

            $("#btncancel").click(function () {
                $("#popupcontent").dialog('close');
            });

            $("#btnsearch").click(function () {
                $("#errormsgforcategory").text("");
                var environmenttype = $("input[name='EnvironmentType']:checked").val();
                var resultcount = $("#ResultCount").val();
                var screentype = $("input[name='ResultType']:checked").val();
                var categoryID = $("#CatgID").val();
                var subcategoryID = $("#SubCatID").val();
                var assignedTo = $("#txtassignedto").val();
                var ticketId = $("#TicketId").val();

                var ticketStatus = $("#StatusList").val();

                var startdate = $("#startdate").val();

                var enddate = $("#enddate").val();

                if (screentype == "Audit" && categoryID == "0" && subcategoryID == "0" && assignedTo == "") {
                    $("#errormsgforcategory").append("Select Either Service Delivery Group Or Sub Category Or Assigned To field.");
                }

                if (screentype == "Dispute" && categoryID == "0" && subcategoryID == "0" && assignedTo == "" && ticketId == "") {
                    $("#errormsgforcategory").append("Select Either Service Delivery Group Or Sub Category Or Assigned To Or Ticket Id field.");
                }

                if ($("#errormsgforcategory").text() == "") {
                    if (resultcount != "" && resultcount.toLowerCase() != "all") {
                        if (resultcount.indexOf('%') > -1) {
                            if (resultcount.length == resultcount.indexOf('%') + 1) {
                                var resultcount = resultcount.substr(0, resultcount.length - 1)
                                if (!$.isNumeric(resultcount) || parseInt(resultcount) < 1 || parseInt(resultcount) > 100) {
                                    $("#errormsgforcategory").append("Result Field can have value as All or value between 1 - 100% or count between 1 - 1000.")
                                }
                            } else {
                                $("#errormsgforcategory").append("Result Field can have value as All or value between 1 - 100% or count between 1 - 1000.")
                            }
                        } else {
                            if (!$.isNumeric(resultcount) || parseInt(resultcount) < 1 || parseInt(resultcount) > 1000) {
                                $("#errormsgforcategory").append("Result Field can have value as All or value between 1 - 100% or count between 1 - 1000.")
                            }
                        }
                    }
                }

                if ($("#errormsgforcategory").text() != "") {
                    return false;
                }


            });

            $('#StatusList').change(function () {
                if ($('#StatusList').val() == 0) {
                    $('#TicketSubStatus').prop('disabled', true);
                }
                else {
                    $('#TicketSubStatus').prop('disabled', false);
                }
            });

            if ($('#StatusList').val() == 0) {
                $('#TicketSubStatus').prop('disabled', true);
            }
            else {
                $('#TicketSubStatus').prop('disabled', false);
            }

            if ($("#rbtaudit").val() == "Audit") {
                $('#TicketId').prop('disabled', true);
            }
            else {
                $('#TicketId').prop('disabled', false);
            }

            $("#rbtaudit").change(function () {
                if ($(this).val() == "Audit") {
                    $('#TicketId').prop('disabled', true);
                    $('#StatusList').prop('disabled', false);
                    if ($('#StatusList').val() == 0) {
                        $('#TicketSubStatus').prop('disabled', true);
                    }
                    else {
                        $('#TicketSubStatus').prop('disabled', false);
                    }
                }
            });



            $("#rbtdispute").change(function () {
                if ($(this).val() != "Audit") {
                    $('#StatusList').prop('disabled', true);
                    $('#TicketSubStatus').prop('disabled', true);
                    $('#TicketId').prop('disabled', false);
                }
            });


            var catGId = $("#CatgID").val();
            if (catGId == 0) {
                $.ajax({
                    type: "POST",
                    url: "/search/GetAllSubcategory",
                    //data: null,
                    success: function (response) {
                        $('#SubCatID').html('');
                        var options = '';
                        options += '<option value="0">Select Sub Category</option>';
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].SubCatgID + '">' + response[i].SubCatgDescription + '</option>';
                        }
                        $('#SubCatID').append(options);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }


            $('#ResultCount').on('keypress', function (event) {
                //alert(event.which);
                if ((event.which == 65 || event.which == 76 || event.which == 97 || event.which == 108 || event.which == 37) || (event.which > 47 && event.which < 58)) {
                    return true;
                }
                else {
                    event.preventDefault();
                    return false;
                }
            });


            $("#CatgID").change(function () {
                var categoryID = $('#CatgID').val();
                $.ajax({
                    type: "POST",
                    url: "/search/BindSubCategory",
                    data: { "categoryID": categoryID },
                    success: function (response) {
                        $('#SubCatID').html(''); $("#ShowQuestions").hide();
                        var options = '';
                        options += '<option value="0">Select Sub Category</option>';
                        for (var i = 0; i < response.length; i++) {
                            options += '<option value="' + response[i].SubCatgID + '">' + response[i].SubCatgDescription + '</option>';
                        }
                        $('#SubCatID').append(options);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            });

        });

    </script>
}

