@{
    ViewData["Title"] = "Sub Category";
}
@model List<HCAaudit.Service.Portal.AuditUI.Models.CatSubCatJoinMast>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="~/css/main.css" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>

<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<div class="row neu-margin--bottom-16">
    <div class="col-12">
        <h3 align="center" class="neu-text--h3 neu-text--bold align-content-xl-center">Sub Category</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 d-flex justify-content-end neu-margin--bottom-16"><button type="button" id="btnopenPopUp" class="neu-button--primary neu-button neu-button--raised">Add Subcategory</button> </div>
    <div class="col-sm-12 neu-margin--bottom-16">
        <table id="example" class="neu-table" width="100%" cellspacing="0">
            <thead class="neu-table__head">
                <tr class="neu-table__header neu-table__sort-icon">
                    <th>SubCatID</th>
                    <th>Service Delivery Group</th>
                    <th>Sub Category Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="popupcontent" title="Add Subcategory" hidden="hidden" class="container">
    <div class="row neu-margin--bottom-16">
        <div class="col-sm-6">
            <label for="format-pdf" class="neu-input__label">Service Delivery Group:</label>
            <select name="teams" id="ddlcategory" class="neu-select"></select>
            <span id="errormsgcategory" class="neu-button--danger neu-button--small">Select Service Delivery Group</span>
        </div>
        <div class="col-sm-6">
            <label for="format-pdf" class="neu-input__label">Sub Category:</label>
            <input id="txtsubcategory" class="neu-input__field" maxlength="50" type="text" />
            <span id="errormsgsubcategory" class="neu-button--danger neu-button--small">Enter Subcategory</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 neu-text--align-center">
            <button id="btnaddSubCategory" class="neu-button--primary neu-button neu-button--raised">Save</button>&nbsp;
            <button id="btncancelpopup" class="neu-button--danger neu-button neu-button--raised neu-margin--left-10">Cancel</button>
        </div>
    </div>
</div>

<div id="popupcontentedit" title="Edit Subcategory" hidden="hidden" class="container">
    <div class="row neu-margin--bottom-16">
        <div class="col-sm-6">
            <label for="format-pdf" class="neu-input__label">Service Delivery Group:</label>
            <input name="teams" id="txtcategoryreadonly" class="neu-input__field" disabled="disabled" />
        </div>
        <div class="col-sm-6">
            <label for="format-pdf" style="text-align:left;" class="neu-input__label">Sub Category:</label>
            <input id="txtsubcategoryedit" class="neu-input__field" maxlength="50"
                   type="text" />
            <span id="errormsgedit" class="neu-button--danger" />
        </div>
        <div class="col-sm-2">
            <input id="hdnid" type="hidden" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 neu-text--align-center">
            <button id="btneditCategory" class="neu-button--primary neu-button neu-button--raised">Update</button>&nbsp;
            <button id="btncancelpopupedit" class="neu-button--danger neu-button neu-button--raised neu-margin--left-10">Cancel</button>
        </div>
    </div>
</div>


<div id="popupcontentdelete" title="Delete Subcategory" hidden="hidden" class="container">

    <div class="row neu-margin--bottom-16">
        <div class="col-sm-12"><label id="lblcustomtextfor"></label></div>
    </div>
    <div class="row">
        <div class="col-sm-12"><input id="hdndeletecatid" type="hidden" /></div>
        <div class="col-sm-12 neu-text--align-center">
            <button id="btndeleteCategoryok" class="neu-button--primary neu-button neu-button--raised">OK</button>&nbsp;
            <button id="btnSubCatdelete" class="neu-button--primary neu-button neu-button--raised">Yes</button>&nbsp;
            <button id="btncancelpopupdelete" class="neu-button--danger neu-button neu-button--raised neu-margin--left-10">No</button>

        </div>
    </div>
</div>

<script>

    $(document).ready(function() {
        $("#example").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/SubCategory/Details",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [
                { "data": "SubCatgID", "name": "SubCatgID", "autoWidth": true },
                { "data": "CatgDescription", "name": "CatgDescription", "autoWidth": true },
                { "data": "SubCatgDescription", "name": "SubCatgDescription", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) { return '<a class="neu-button--primary neu-button neu-button--link" href="#" onclick=OpenEditpopup(' + full.SubCatgID + ');>Edit</a>'; }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return "<a href='#' class='neu-button--danger neu-button neu-button--link' onclick=DeleteData('" + row.SubCatgID + "'); >Delete</a>";
                    }
                }
            ],
            "createdRow": function (row, data, dataIndex) {
                $(row).addClass('neu-table__row--small');
            }
        });
    });

    $(function () {
        $("#popupcontent").dialog({
            width: 700,
            autoOpen: false,
            draggable: false,
            resizable: false,
        });

        $("#btnopenPopUp").click(function () {
            $("#popupcontent").dialog({
                position: 'bottom'
            });
        });

        $("#btncancelpopup").click(function () {
            $("#popupcontent").dialog('close');
        });
    })
   // $("#popupcontent").dialog({ autoOpen: false, modal: true, height: 300, width: 700 });

        $("#btnopenPopUp").click(function () {
            $('#errormsgsubcategory').hide();
            $('#errormsgcategory').hide();
            $.ajax({
                type: "POST",
                url: "/SubCategory/GetCategory",
                data: null,
                success: function (response) {
                    $('#ddlcategory').html('');
                    var options = '';
                    options += '<option value="0">Select Service Delivery Group</option>';
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i].CatgID + '">' + response[i].CatgDescription + '</option>';
                    }
                    $('#ddlcategory').append(options);
                    $("#popupcontent").dialog('open');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });



            $("#popupcontent").dialog('open');
        });

    //$("#popupcontent").dialog({ autoOpen: false, modal: true, height: 300, width: 700 });


    $('#txtsubcategory').on('keypress', function (event) {
        $('#errormsgsubcategory').hide();
        var regex = new RegExp("^[a-zA-Z ]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });
    $('#errormsgsubcategory').hide();
    $('#errormsgcategory').hide();

    $("#ddlcategory").change(function () {
        var catgID = $('#ddlcategory').val();
        if (catgID != "0") { $('#errormsgcategory').hide();}
    });

    $("#btnaddSubCategory").click(function () {
        var catgID = $('#ddlcategory').val();
        var subCategoryName = $('#txtsubcategory').val().trim();
        if (catgID == "0") { $('#errormsgcategory').show(); $('#errormsgcategory').text('Select Service Delivery Group'); return false;}
        if (subCategoryName == "") { $('#errormsgsubcategory').show(); $('#errormsgsubcategory').text('Enter Sub Category'); return false;}

            $.ajax({
                type: "POST",
                url: "/subcategory/Insert",
                data: { "catgID": catgID, "subCategoryName": subCategoryName },
                success: function (response) {
                    if (response == "1") {
                        $("#errormsgsubcategory").text("Record already exists!");
                        $('#errormsgsubcategory').show();
                    }
                    else {
                        $("#popupcontent").dialog('close');
                        $('#txtsubcategory').val("");
                        location.reload();
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

    });


    $("#popupcontentdelete").dialog({
        autoOpen: false
    });


    $("#btnsubCatdelete").click(function () {
        $("#popupcontentdelete").dialog({
            position: 'bottom'
        });
    });

    $("#popupcontentdelete").dialog({ autoOpen: false, modal: true, width: 'auto' });

    $("#btncancelpopupdelete").click(function () {
        $("#popupcontentdelete").dialog('close');
    });

    function DeleteData(CatgID) {
        $("#popupcontentdelete").dialog('open');
        $("#hdndeletecatid").val(CatgID);
    }

    function DeleteData(CatgID) {
        $.ajax({
            type: "POST",
            url: "/SubCategory/HasDeleteAccess",
            data: { "id": CatgID },
            success: function (response) {
                //alert(response);
                if (response == "NoRecords") {
                    $("#lblcustomtextfor").text("Do you want to Delete this Sub Category?");
                    $("#popupcontentdelete").dialog('open');
                    $("#btndeleteCategoryok").hide();
                    $("#btnSubCatdelete").show();
                    $("#btncancelpopupdelete").show();
                    $("#hdndeletecatid").val(CatgID);
                }
                else if (response == "HasRecords") {
                    $("#lblcustomtextfor").text("Please remove Question mapping and then delete this Sub Category");
                    $("#popupcontentdelete").dialog('open');
                    $("#btndeleteCategoryok").show();
                    $("#btnSubCatdelete").hide();
                    $("#btncancelpopupdelete").hide();
                    //alert('Entered else');
                    //return trueOrFalse(false);
                }
            },
            failure: function (response) {
                // alert(response.responseText);
            },
            error: function (response) {
                //  alert(response.responseText);
            }
        });
    }

    $("#btncancelpopupdelete").click(function () {
        $("#popupcontentdelete").dialog('close');
    });

    $("#btnSubCatdelete").click(function () {
        var url = '@Url.Content("~/")' + "subcategory/Delete";
        $("#popupcontentdelete").dialog('close');
        $.post(url, { ID: $("#hdndeletecatid").val() }, function (data) {
            if (data) {
                oTable = $('#example').DataTable();
                oTable.draw();
            } else {
                alert("Something Went Wrong!");
            }
        });
    });

    $('#errormsgedit').hide();

    $("#popupcontentedit").dialog({
        autoOpen: false
    });

    $("#btncancelpopupedit").click(function () {
        $("#popupcontentedit").dialog('close');
    });

    $("#popupcontentedit").dialog({ autoOpen: false, modal: true, width: 'auto' });

    $('#txtsubcategoryedit').on('keypress', function (event) {
        $('#errormsgedit').hide();
        var regex = new RegExp("^[a-zA-Z ]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });

    $("#btneditCategory").click(function () {
        if ($('#txtsubcategoryedit').val() == "") {
            $('#errormsgedit').show();
            $('#errormsgedit').text("Please enter SubCategory");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/SubCategory/Edit",
            data: { "id": $('#hdnid').val() + "$" + $('#txtsubcategoryedit').val() },
            success: function (response) {
                if (response == "1") {
                    $("#errormsgedit").text("Record already exists!");
                    $('#errormsgedit').show();
                }
                else {
                    $("#popupcontentedit").dialog('close');
                    $('#txtsubcategoryedit').val("");
                    location.reload();
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

    });

    $("#popupcontentedit").dialog({
        position: 'bottom'
    });



    function OpenEditpopup(SubCatgID) {
        $('#errormsgedit').hide();
        $("#popupcontentedit").dialog('open');
        $("#hdnid").val(""); $("#hdnid").val(SubCatgID);
        $.ajax({
            type: "POST",
            url: "/SubCategory/GetCategoryByid",
            data: { "id": SubCatgID },
            success: function (response) {
                if (response != null && response != "") {
                    $("#txtsubcategoryedit").val(response.SubCatgDescription);
                    $("#txtcategoryreadonly").val(response.CatgDescription);
                }
            },
            failure: function (response) {
                // alert(response.responseText);
            },
            error: function (response) {
                //  alert(response.responseText);
            }
        });
    }

    $("#btndeleteCategoryok").click(function () {
        $("#popupcontentdelete").dialog('close');
    });
</script>
